<html>
<head>
    <title>Organize</title>
     <link rel="icon" type="/static/css/img/favicon.png" href="/static/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/login.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <h1>Actualización de usuario</h1>
        <div class="fadeIn first">
            <img src="static/img/logo_organize.png" height="100" width="98"/>
        </div>
        <br>
        <form action="" method="post" autocomplete="off">
            <input type="text"
                   id="nombre"
                   class="fadeIn second"
                   name="nombre"
                   placeholder="usuario"
                   value="{{ request.form.nombre }}" required>
            <input type="text"
                   id="clave"
                   class="fadeIn third"
                   name="clave"
                   placeholder="contraseña"
                   value="{{ request.form.clave }}" required>
            <input type="text"
                   id="mail"
                   class="fadeIn third"
                   name="mail"
                   placeholder="confirmar mail"
                   value="{{ request.form.mail }}" required>

            <input type="submit" class="fadeIn fourth" value="Actualizar">
        </form>
        {% if error %}
            <p><strong>Error:</strong> {{ error }}</p>
        {% endif %}
    </div>
</div>
</body>

</html>
