<html>
<head>
    <title>Organize</title>
    <link rel="icon" type="/static/css/img/favicon.ico" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/login_0.css" />
</head>
<body>
<div class="inicio">
    <div id="formContent">
        <div class="fadeIn first">
            <img src="/static/img/logo_organize.png" src="/static/img/logo_organize.png" type="/static/img/logo_organize.png" height="240" width="210"/>
        </div>
        <br>
        <div class="fadeIn first">
            <a href="/login">Login</a>
        </div>
        <br>
    </div>
</div>
</body>
</html>
