<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <link rel="stylesheet" href="/static/css/inicio.css"/>
   <title>Organize</title>
   <link rel="icon" type="/static/css/img/favicon.png" href="/static/img/favicon.png">
 </head>
 <body>
   <nav class="navbar">
     <!-- LOGO -->
     <div class="title"><h1>Organize Emprendedor</h1></div>
     <!-- NAVIGATION MENU -->
     <ul class="nav-links">
       <!-- USING CHECKBOX HACK -->
       <input type="checkbox" id="checkbox_toggle" />
       <label for="checkbox_toggle" class="hamburger">&#9776;</label>
       <!-- NAVIGATION MENUS -->
       <div class="menu">
         <li class="services">
           <a href="/inicio_emp">Agendas</a>
           <ul class="dropdown">
             <li><a href="/inicio_emp">Con cliente </a></li>
             <li><a href="/inicio_emp_emp">Con mi empresa</a></li>
             <li><a href="/inicio_ag_emp">Agenda a ofrecer</a></li>
           </ul>
         </li>
         <li class="services">
           <a href="/inicio_emp">Usuario</a>
           <ul class="dropdown">
             <li><a href="{{url_for('actualizar_usuario')}}">Actualizar </a></li>
             <li><a href="{{url_for('borrar_usuario')}}">Borrar</a></li>
             <li><a href="/logout">Logout</a></li>
           </ul>
         </li>
         <li><a href="/nosotros_emp">Nosotros</a></li>
       </div>
     </ul>
   </nav>
   <div class="title"><h2>-Bienvenido a Organize {{usuario['nombre']}}-</h2></div>
   <br>
   <div class="title"><h3>Agenda con Clientes</h3></div>
                         <form action="" method="post" autocomplete="off">
                            <table class="table" border="1" style="margin: 0 auto;">
                                <thead>
                                    <tr>
                                        <th scope="col">Nombre cliente</th>
                                        <th scope="col">Fecha-Hora</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for cli_horario in cli_horarios %}
                                    <tr>
                                        <th scope="row">{{cli_horario.usuario_id}}</th>
                                        <td>{{cli_horario.fecha_hora}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </form>
   <br>
   <br>
   <br>
       <div class="footer">
           <table class="table_1">
               <thead>
                <tr>
                    <th><a href="/formulario_contacto">Formulario de contacto</a></th>
                    <th><img src="static/img/logo_chico_organize.png" /></th>
                    <th><ul class="social-icon">
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-facebook"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-twitter"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-instagram"></ion-icon>
        </a></li>
    </ul></th>
                </tr>
               </thead>
           </table>
       </div>
</body>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</html>
